crontab

.env

docker/volumes/letsencrypt/lib/*
docker/volumes/letsencrypt/log/*
docker/volumes/letsencrypt/www/*
docker/volumes/php/composer/*
docker/volumes/php/yarn-cache/*

env/*.override
env/*/*.override

sylius/prod/*
sylius/data/elasticsearch/data/*
sylius/data/keys/ssh/*
sylius/data/keys/ssl/*
sylius/data/maintenance/maintenance_on.html
sylius/data/maintenance/maintenance_off.html
sylius/data/mysql/backups/*
sylius/data/mysql/databases/*
sylius/data/php/sessions/*
sylius/data/varnish/storage/*
sylius/dev
