# Redirect http://sub.domain.com to https://sub.domain.com
server {
    server_name ${SERVER_NAME};
    include conf.d/snippets/80.conf;
    location / {
        return 301 https://${SERVER_NAME}$request_uri;
    }
}

server {
    server_name ${SERVER_NAME};
    include conf.d/snippets/443.conf;
    include conf.d/snippets/gzip.conf;
    include conf.d/snippets/location.conf;
}
